body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    width: 1500px;
    justify-content: space-around;
    align-self: center;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

a, .hero-secondary-text, .call-text {
    size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    justify-self: flex-end;
    justify-content: space-evenly;
    width: 400px;
}

.get-along-background {
    background-color: #1f2937;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 49px;
    font-weight: bolder;
    color: #f9faf8;
    overflow-wrap: normal;
    width: 500px;
    margin: 0%;
}

.hero-button {
    background-color: #3883f6;
    color: #e5e7eb;
    size: 18px;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin: 10px 0;
}

.text-box {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.hero-secondary-text {
    overflow-wrap: normal;
    width: 450px;
    margin: 5px;
}

.hero-img {
    background-color: #5a5959;
    height: 200px;
    width: 500px;
    text-align: center;
    line-height: 200px;
    color: #e5e7eb;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-imgs-box {
    display: flex;
}

.information-imgs {
    border: 2px solid #3883f6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.img-p-pair {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.information-p {
    width: 150px;
    text-align: center;
    margin-top: 0%;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.quote-p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    overflow-wrap: normal;
    width: 1000px;
    margin: 0%;
}

.quote-information {
    font-weight: bold;
    margin-top: 0%;
    font-size: 20px;
    text-align: right;
    margin-left: 750px;
}

.call {
    background-color: #3883f6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    align-self: center;
    height: 100px;
    margin: 75px;
    border-radius: 10px;
}

.call-button {
    border-color: #e5e7eb;
    background-color: #3883f6;
    color: #e5e7eb;
    size: 18px;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

h4 {
    margin-bottom: 0%;
}

p.call-text {
    margin-top: 0%;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 20px 5px;
}